/* styles.css */
html, body, .login-page{
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
}


/* Estilo da imagem de fundo */
.bg {
  position: fixed; /* Posicionamento absoluto */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../media/dog-bg.jpg');
  background-repeat:repeat-y; 
  background-attachment: fixed;
  background-size: cover;
}

.bg::before {
  content: ''; /* Necessário para que o pseudo-elemento seja exibido */
  position: absolute; /* Posicionamento absoluto em relação ao elemento pai (.bg) */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Cor preta semi-transparente */
  z-index: 0; /* Move o pseudo-elemento para trás do conteúdo */
}

.home-page .content {
    position: relative;
    z-index: 1; /* Ensure section is above the background */
    color: white; /* Example styling to make text visible */
	width: 100%;
	height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.login-page, .register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.login-container, .register-container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: orange;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 92%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: darkorange;
}

p {
    text-align: center;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.icon-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 0;
  }
  .icon-container .fas {
    font-size: 25px;
    transition: 0.2s;
  }
  .icon-container .fas:hover {
    transform: scale(1.1);
	color: orange;
	cursor: pointer;
  }
  .tooltip {
    position: relative;
    display: inline-block;
    margin: 20px 40px;  
}
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.658);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 3px;
    position: absolute;
    z-index: 1;
    top: 135%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }


  #meus-caes {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }

  #meus-caes table {
	width: 80%;
  background: #0000007a;
  border-collapse: collapse;
	border-radius: 10px;
	overflow: hidden;
  border: 1px solid black;
  }
  
  #meus-caes th, td {
	padding: 10px;
	text-align: left;
  }
  
  #meus-caes th {
	background-color: orange;
	color: white;
  }
  
  
  #meus-caes .options {
	text-align: center;
  }
  
  #meus-caes img {
	width: 45px;
	height: auto;
	display: block;
	margin: auto;
	border-radius: 50%;
  }

  .options span:hover {
    cursor:pointer;
    color: orange;
  }

  .options{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .create-dog-container {
    width: 85%;
    display: flex;
    justify-content: flex-end;
  }

  .fa-paw:hover {
    color:orange;
    cursor: pointer;
  }

  .fa-paw {
    font-size: 40px;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .animated-icon {
    animation: pulse 1s infinite; 
  }


  #minhas-rotinas {
    margin-top: 200px;
  }

  .new-dog-container, .new-routine-container {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
}

.new-dog-container #dogForm, .new-routine-container #routineForm{
  width: 35%;
  padding: 20px;
  background: #000000a1;
  border-radius: 20px;
}
.new-dog-container .form-group, .new-routine-container .form-group {
    margin-bottom: 20px;
}

.new-dog-container label, .new-routine-container label {
    color: white;
    display: block;
    margin-bottom: 5px;
}

.new-routine-container input[type="text"], .new-dog-container input[type="text"],
.new-dog-container input[type="number"], .new-routine-container input[type="number"],
.new-routine-container input[type="time"],
.new-dog-container select, .new-routine-container select {
    padding: 10px;
    border: 1px solid orange;
    border-radius: 10px;
    background-color: transparent;
    color : white;
}


.new-routine-container .button-container, .new-dog-container .button-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.new-routine-container button, .new-dog-container button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.new-routine-container button:hover, .new-dog-container button:hover {
    background-color: #ff7f00;
}

.new-routine-container select option, .new-dog-container select option {
  color: black; 
}

.new-routine-container button, .new-dog-container button {
    width: 50%;
}



/* modal /*

/* Modal container */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal content */
.modal .modal-content {
  background-color: rgb(0 0 0 / 90%);
  margin: 10% auto; /* 10% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Close button */
.modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal .close:hover,
.modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Form styling */
.modal .form-group {
  margin-bottom: 20px;
}

.modal label {
  color: white;
  display: block;
  margin-bottom: 5px;
}

.modal input[type="text"],
.modal select {
  padding: 10px;
    border: 1px solid orange;
    border-radius: 10px;
    background-color: transparent;
    color : white;
}

.modal select option{
  color: black; 
}

.modal button[type="submit"] {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.modal button[type="submit"]:hover {
  background-color: #ff7f00;
}


#minhas-rotinas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}