/* styles.css */
html, body, .login-page{
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
}

.login-page, .register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-container, .register-container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: orange;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 92%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: darkorange;
}

p {
    text-align: center;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
